.app-bar {
  background-color: white !important;
  border: none;
  height: 10%;
  justify-content: center;

  &__avatar-image {
      width: 3rem !important;
      height: 3rem !important;
      margin-right: 1rem;
  }

}