.writer-box {
  height: 10%;
  padding: 0 1rem;

  &__input {
    border-radius: .6rem;
  }

  &__right-grid {
    display: flex;
    align-self: stretch;
  }

}

.send-button {
  box-shadow: none !important;
}