.space-y {
  margin: 1rem 0;
}

.away, .self {
  padding: 1rem;
  border-radius: .6rem;
  line-height: 1.6;
}

.away {
  background-color: #E2E2E2;
  color: rgba(black, .8);
}


.self {
  background-color: rgba(#4F48EC, .8);
  color: white;
}